<div class="demo">
  <h1>NGX Image Swiper</h1>

  <div class="buttons">
    <button (click)="controlNavigation()">
      {{ swiperConfig.navigation ? 'Disable Navigation' : 'Enable Navigation' }}
    </button>
    <button (click)="controlNavigationPosition()">
      {{ swiperConfig.navigationPlacement === 'inside' ? 'Outside Navigation' : 'Inside Navigation' }}
    </button>
  </div>
  <div class="buttons">
    <button (click)="controlPagination()">
      {{ swiperConfig.navigation ? 'Disable Pagination' : 'Enable Pagination' }}
    </button>
    <button (click)="controlPaginationPosition()">
      {{ swiperConfig.paginationPlacement === 'inside' ? 'Outside Pagination' : 'Inside Pagination' }}
    </button>
  </div>

  <div class="image-swiper">
    <ngx-image-swiper [config]="swiperConfig" [images]="images" (imageClick)="imgClicked($event)"></ngx-image-swiper>
  </div>
</div>
